/* ErrorModal.css */
.modal-overlay {
    position: absolute;
    top: -36px;
    left: -128px;
    width: 1280px;
    height: 720px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: gray;
    font-size: 28px;
    padding: 20px;
    border-radius: 5px;
    width: 390px;
    text-align: center;
    color: white;
  }

  