.player_progress{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    left: -128px;
    width: 1280px;
    height: 130px;
    bottom: -36px;
    z-index: 10;
  }

  .player_resoultion{
    height: 50px;
    top: 10px;
    left: 134px;
    position: absolute;
    width: 152px;
    border-radius: 10px;
    line-height: 50px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
  }

  .player_resoultion.selected {
    background-color: #356ca6;
    font-weight: 400;
  }