body{
  /* grey background */
  background-color: #808080;
  /* we explicitly set the size of the body element */
  width: 1280px;
  height: 720px;
  overflow: hidden;
  border: 1px solid black;
  font-family: Arial, sans-serif; /* HbbTV-compatible font */
  margin: 0px;
}

